.battle-field {
    position: absolute;
    left: 150px;
    top: 100px;
    border: 1px solid black;

    max-width: 216px;
}

.info-cell {
    width: 35px;
    height: 35px;
    border-right: 1px solid red;
    border-bottom: 1px solid red;
    background-color: antiquewhite;

    text-align: center;
}

.info-cell span {
    padding: 9px;
    display: block;
}

.cell {
    width: 35px;
    height: 35px;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    background-color: antiquewhite;
}

.horizontal {
    float: left;
}

.section {
    float: left;
}
